<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>框架</title>
	<link href="{{ url_for('static', filename='common/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='common/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='common/bootstrap/js/bootstrap.js') }}"></script>

	<style>
		#head {
			border-bottom-style: solid;		
			padding:0px;
		}	
		.inline_element {
			display: inline;
			vertical-align: bottom;	
			line-height:normal;
		}
		.a_custom {
			text-decoration: none;
		}
		.wenbenkuai{
			padding:0px 50px 0px 50px;
		}
	</style>

</head>
<body>
	<div id="head">
		<img src="{{ url_for('static', filename='images/logo.jpg') }}" height="100px" width="120px">
		<span class="inline_element">Banana Jun may be late, but will never be absent</span>

		<ul class="inline_element">
			<li class="inline_element tag" ><span class="inline_element a_custom" id="yunwei" onclick="tag_status_change(event)">运维(1)</a></li>
			<li class="inline_element tag" ><span class="inline_element a_custom" id="linux_c" onclick="tag_status_change(event)">linux c(0)</a></li>
			<li class="inline_element tag" ><span class="inline_element a_custom" id="vim" onclick="tag_status_change(event)">vim(0)</a></li>
		</ul> 

	</div>

	<div id="myDiv">
		{% block content%}
		{% endblock %}
	</div>
</body>
</html>


<script>
	function tag_status_change(event){

		//干掉其他的边框
		var allTag=document.getElementsByClassName("a_custom");
		for (i=0;i<allTag.length;i++){
			if (allTag[i].id!=event.target.id){
				allTag[i].style.border="none";
			}
		}

		//把边框加入当前元素
		var tag_id = event.target.id;
		document.getElementById(tag_id).style.border="solid";
		
		//ajax拉请求
		
		var ajax=new XMLHttpRequest();
		var reqUrl="http://www.liwenjing.我爱你/blog/tag"
		var data={"tag_id":tag_id}
		ajax.open("POST",reqUrl,true)
		ajax.setRequestHeader("Content-type","application/json");	
		ajax.send(JSON.stringify(data));
		ajax.onreadystatechange = function(){
			if ( ajax.readyState == 4 && ajax.status == 200 ) {
				document.getElementById("myDiv").innerHTML=ajax.responseText;
			} else {
				;
			}
		};

	}
	function show_article(event){
		//把边框加入当前元素
		var article_name = event.target.id;
		console.log(article_name)
		
		//ajax拉请求
		
		var ajax=new XMLHttpRequest();
		var reqUrl="http://www.liwenjing.我爱你/blog/article"
		var data={"article_name":article_name}
		ajax.open("POST",reqUrl,true)
		ajax.setRequestHeader("Content-type","application/json");	
		ajax.send(JSON.stringify(data));
		ajax.onreadystatechange = function(){
			if ( ajax.readyState == 4 && ajax.status == 200 ) {
				document.getElementById("myDiv").innerHTML=ajax.responseText;
			} else {
				;
			}
		};

	} 
</script>
